<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <li><a href="#">What we Do</a></li>
                    <li><a href="#">Our Teams</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="#">Call Us</a></li>
                    <li><a href="#">Ask a Doubt</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Feedback</h4>
                <ul>
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">Technical</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<!-- navbar toggle -->
<script src="JS/index.js"></script>
<!-- animation on scroll -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 250,
        duration: 800,
    });
</script>
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- calendar script -->
<script src="JS/calendar.js"></script>
<script src="JS/calendar_events.js"></script>
</html>