<footer>
    <div class="footer-wrap">
        <img src="Assets/SOCH-logo.jpeg" class="footer-logo" alt="SOCH LOGO">
        <p>SOCH is the first and only art and writing society of IGDTUW. We provide our team members </p>
    </div>
    <div class="footer-wrap">
        <h3>Quick Links</h3>
        <ul>

        </ul>
    </div>
    <div class="footer-wrap">
        <i class="fab fa-linkedin-in"></i>
        <i class="far fa-envelope"></i>
        <i class="fab fa-instagram"></i>
    </div>
</footer>
</body>
</html>