<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="Assets/SOCH-logo.jpeg"
      type="image/x-icon"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOCH IGDTUW</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="CSS/style.css" />
    <link rel="stylesheet" href="CSS/contact.css" />
    <link rel="stylesheet" href="CSS/team.css" />
  </head>
  <body>
    <nav>
      <a href="/">
        <img src="Assets/SOCH-logo.jpeg" class="logo" alt="SOCH LOGO" />
      </a>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about us</a></li>
        <li><a href="/events">events</a></li>
        <li><a href="/team">team</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
