<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- site logo -->
  <link rel="shortcut icon" href="Assets/SOCH-logo.jpeg" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SOCH IGDTUW</title>
  <!-- LINKS -->

  <!-- font-awesome cdn link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- animation on scroll cdn -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- styling sheets -->
  <link rel="stylesheet" href="CSS/style.css" />
  <link rel="stylesheet" href="CSS/home.css" />
  <link rel="stylesheet" href="CSS/contact.css" />
  <link rel="stylesheet" href="CSS/team.css" />
  <link rel="stylesheet" href="CSS/events.css">
  <link rel="stylesheet" href="CSS/footer.css" />
  <link rel="stylesheet" href="CSS/calendar.css" />
</head>

<body>
  <nav id="nav">
    <a href="/" class="nav__logo" style="margin: auto 0;">
      <img src="Assets/SOCH-logo.jpeg" class="logo" alt="SOCH LOGO" />
    </a>
    <ul>
      
      <li><a href="/">home</a></li>
      <li><a href="/about">about us</a></li>
      <li><a href="/events">events</a></li>
      <li><a href="/team">team</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
      <button class="discord-btn" onclick="location.href='https://discord.gg/bnwztJDs';"><i style="color: white; margin-right: 1vh;" class="fab fa-discord"></i>JOIN</button>
      <label class="nav__menu">
        <input type="checkbox">
        <div></div>
        <div></div>
        <div></div>
      </label>
  </nav>
