<%- include("partials/header"); %>
<main>
    <div class="events">

    <div class="container">
        <div class="item-container">
            <div class="img-container">
                <img src="/Assets/write-illust.png" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">EVENT NAME</p>
                    <div class="separator"></div>
                    <p class="info">LOCATION</p>
                    <p class="price">Free</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Grand Central Terminal
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM
                        </p>

                        <p class="info description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo assumenda quidem neque ducimus non aperiam exercitationem! <span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Book it</button>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="/Assets/write-illust.png" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">EVENT NAME</p>
                    <div class="separator"></div>
                    <p class="info">LOCATION</p>
                    <p class="price">29$</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            245 W 52nd St
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM 
                        </p>

                        <p class="info description">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam veritatis, error, fugiat nulla accusamus ea vero, quo labo<span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Book it</button>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="/Assets/write-illust.png" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">The  Festival</p>
                    <div class="separator"></div>
                    <p class="info">LOCATION</p>
                    <p class="price">70$</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            245 W 52nd St
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM 
                        </p>

                        <p class="info description">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aliquid sunt libero consectetur necessitatibus atque asperiores <span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Book it</button>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="/Assets/write-illust.png" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Tech Event</p>
                    <div class="separator"></div>
                    <p class="info">LOCATION</p>
                    <p class="price">35$</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            245 W 52nd St
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM 
                        </p>

                        <p class="info description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure voluptatem quia in, illum natus, quibusdam ea ratione dolor harum totam reprehenderit <span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Book it</button>
            </div>
        </div>
    </div>

</div>
</main>

<!--<div class="events">
    <div class="container">
        <h1 class="page-title">
          Animated card
        </h1>
        <h2 class="page-sub-title">Animate on page load, Flip on hover</h2>
      </div>
      
      <div class="card-container">
        <div class="card">
          <div class="front">
            <h2 class="sub-title">Season 1</h2>
            <h1 class="title">
              Rick and Morty
            </h1>
            <img class="image" src="http://pre14.deviantart.net/0aef/th/pre/f/2014/015/2/f/look_at_that_thing_morty____rick_and_morty_by_kory226-d72a6ub.png" alt="" />
          </div>
          <div class="back">
            <h3 class="synopsis">Synopsis</h3>
            <p>Rick and Morty is an American adult animated television series created by Justin Roiland and Dan Harmon for Adult Swim. The series follows the misadventures of alcoholic scientist Rick and his easily influenced grandson Morty, who split their time
              between domestic family life and interdimensional travel.</p>
            <div class="btn"><i class="fa fa-play"></i>Watch now</div>
            <div class="btn secondary"><i class="fa fa-heart "></i>Add to list</div>
          </div>
        </div>
</div> 
-->
<%- include("partials/footer"); %>