<%- include("partials/header"); %>
    <main>
        <div class="heading">
            <h1>SOCH</h1>
            <p>Station of Creativity and Hue</p>
            <h3>The Art and Writing Society of IGDTUW.</h3>
        </div>
    </main>
    <%- include("partials/footer"); %>