<%- include("partials/header"); %>
    <div class="team-table">
        <div class="team-row">

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Aditi-President.PNG" alt="" class="team-img">

                    <div class="icon">
                        <a href="https://www.linkedin.com/in/aditi-gupta-734740192/" class="linkedIn"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">ADITI GUPTA</h2>
                <ul class="pos">
                    <li class="pos-item">President</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Anshika-ManagementHead.jpg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">ANSHIKA GAUTAM</h2>
                <ul class="pos">
                    <li class="pos-item">Management Head</li>
                    <li class="pos-item">Technical Lead</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Akansha-managementhead.jpg" alt="" class="team-img">
                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">AKANKSHA</h2>
                <ul class="pos">
                    <li class="pos-item">Management Head</li>
                </ul>
            </div>
        </div>

        <div class="team-row" data-aos="fade-up">

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Abhilasha-ManagementHead.jpg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">ABHILASHA</h2>
                <ul class="pos">
                    <li class="pos-item">Management Head</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/ganiti jagota.jpg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">GANITA JAGOTA</h2>
                <ul class="pos">
                    <li class="pos-item">Developer</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Ishika Pandey.jpg" alt="" class="team-img">
                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">ISHIKA PANDEY</h2>
                <ul class="pos">
                    <li class="pos-item">Developer</li>
                </ul>
            </div>
        </div>

        <div class="team-row" data-aos="fade-up">

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/photo - Mehak Aggarwal.jpeg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">MEHAK AGGARWAL</h2>
                <ul class="pos">
                    <li class="pos-item">Developer</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/VanshiKA Moyal.jpg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">VANSHIKA MOYAL</h2>
                <ul class="pos">
                    <li class="pos-item">Developer</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Tanya Dixit.jpeg" alt="" class="team-img">
                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">TANYA DIXIT</h2>
                <ul class="pos">
                    <li class="pos-item">Developer</li>
                </ul>
            </div>
        </div>

        <div class="team-row" data-aos="fade-up">

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Veethika Ethi.jpeg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">VEETHIKA ETHI</h2>
                <ul class="pos">
                    <li class="pos-item">Developer</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Lahari-DirectorOfArt.jpg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">LAHARI</h2>
                <ul class="pos">
                    <li class="pos-item">Director of Art</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/DeepsikhaDas-DirectorOfArt.PNG" alt="" class="team-img">
                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">DEEPSHIKA DAS</h2>
                <ul class="pos">
                    <li class="pos-item">Director of Art</li>
                </ul>
            </div>
        </div>

        <div class="team-row" data-aos="fade-up">

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/Samiksha-DirectorOfArt.jpg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">SAMIKHSA</h2>
                <ul class="pos">
                    <li class="pos-item">Director of Art</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/RiyaGupta-DirectorOfWriting.jpg" alt="" class="team-img">

                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">RIYA GUPTA</h2>
                <ul class="pos">
                    <li class="pos-item">Director of Writing</li>
                </ul>
            </div>

            <div class="team-row-member">
                <div class="media">
                    <img src="Assets/KirtiSingh-DirectorOfWriting.jpeg" alt="" class="team-img">
                    <div class="icon">
                        <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h2 class="team-name">KIRTI SINGH</h2>
                <ul class="pos">
                    <li class="pos-item">Director of Writing</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        });
    </script>
    <%- include("partials/footer"); %>