:root{
    --font-sans: 'Poppins', sans-serif;
    --font-serif: 'Playfair Display', serif; 
    --blue-grey: #374a50;
    --cyan: #00adb5;
    --pink: #d8849e;
    --peach: #e9a6a6;
    --salmon: #fdaf7c;
    --blue: #4d56a2;
    --grey: #96afb6;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #231E23;
}

.logo{
    width: 5vw;
    border-radius: 50%;
    margin:20%;
}

#bg-video{
    width: 100%;
    height: 80%;
}
.navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(241,193,193,0.35) ;
    
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.brand-title {
    font-size: 2.5rem;
    margin: 0;
    color: #e9a6a6;
    
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #e91e63;
    padding: 1rem;
}

.navbar-links li:hover {
    /* background-color: #ebd2db; */
    border-bottom: 4px solid #e91e63;
    transition: border-bottom 0.4s;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color:#e91e63;
    border-radius: 30px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }


