html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.team-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}

.team-row {
    background-color: #C2E3EC;
    padding: 20px 30px;
    width: 100%;
    max-width: 70%;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.team-img {
    max-width: 80%;
    max-height: 500px;
    border-radius: 100%;
    margin-top: 20px;
    transition:.3s;
}

.team-name {
    color: #071E3D;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.pos {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-width: 70%;
    margin: 15px 0 5px;
    color: WHITE;
}

.pos-item {
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 6px 0;
}


.icon {
    transition: all 0.25s ease-in-out;
    display: none;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 4rem;
    z-index: 3;
}

.linkedIn {
    padding: 1.5rem 3rem;
    color: white;
    text-decoration: none;
    transition: 1s;
}

.linkedIn:hover .team-img{
    filter:blur(0.5px) brightness(80%);
    box-shadow:0 0 16px grey;
}

.linkedIn:hover {
    color: #6F69AC;
}

.media {
    position: relative;
    margin-bottom: 25px;
    transition: 1s;
}

i:hover .linkedIn {
    -webkit-animation: fadein 1s;
}

.media:hover .team-img {
    filter:blur(0.5px) brightness(80%);
    box-shadow:0 0 16px grey;
}

.media:hover .icon {
    display: block;
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (min-width: 900px) {
    .team-row {
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .team-row-member {
        border-bottom: none;
        border-right: 1px solid #C9CCD5;
        padding: 10px 40px;
        transition: 0.5s;
    }
    .team-row-member:hover{	
        transform: translateY(-20px);	
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);	
    }
    .team-row-member:last-child {
        border-right: none;
    }
    .team-name {
        font-size: 1.25rem;
    }
    .pos-item {
        font-size: 0.9rem;
    }
}
